" 如果還沒安裝 vim-plug，則下載安裝它(限 Unix)

if empty(glob('~/.vim/autoload/plug.vim'))
    silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs 
                \ https://raw.github.com/junegunn/vim-plug/master/plug.vim
    autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

" 使用前先執行此程式
call plug#begin('~/.vim/plugged')
" Plug 'godlygeek/tabular'
Plug 'plasticboy/vim-markdown'
Plug 'instant-markdown/vim-instant-markdown', {'for': 'markdown', 'do': 'yarn install'}



" 結束安裝插件呼叫此程式
call plug#end()

set nocompatible
" set cursorline
set number
set nofoldenable
set clipboard=unnamedplus  " use system clipboard for yank/paste
